.heder {
    margin: 3px auto;
    color: forestgreen;
    font-size: 30px;
    padding: 5px;
    background-color: gainsboro;
    width: 98%;
    text-align: center;
}

.dialogs {
    display: grid;
    margin-left: 30px;
    grid-template-columns: 2fr 14fr;
}

.dialogitems .dialog:active {
    color: rgb(0, 17, 255);
}