
.content {
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    min-width: 200px;
    min-height: 530px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
}

.content div img {
    width: 100%;
    height: 90px;
}
