
.postsBlock {
    padding: 10px;
}

h3{
    margin: 0;
    padding: 5px;
    font-style: italic;
}

textarea {
    width: 300px;
}
.button {
    background-color: rgb(120, 253, 160);
    padding: 0px 10px;
    margin-bottom: 40px;
}

