
.header {
    display: grid;
    grid-template-columns: 170px 740px 100px;
    grid-template-rows: 40px auto 100% 50px;
    min-width: 600px;
}
.logo {
    background-image: url('https://pngimg.com/uploads/mario/mario_PNG53.png');
}

.shadow {
    border: solid 1px rgb(219, 219, 219);

}


