
.header {
    margin: 5px 5px ;
    width: 100%;
    display: grid;
    grid-template-columns: 170px 740fr 300px;
    grid-template-rows: 40px auto 100% 50px;
}
.logo {
    background-image: url('https://pngimg.com/uploads/mario/mario_PNG53.png');
}

.shadow {
    border: solid 1px rgb(219, 219, 219);

}


